* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-content {
  width: 100%;
  display: flex;
  position: relative;
  top: 40px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.left-content,
.right-content {
  width: 40%;
  text-align: center;
}
.left-content-heading {
  font-size: 2rem;
}
.left-content-para {
  margin: 30px 0px;
  text-align: justify;
  font-size: 1.2rem;
  padding: 10px;
}
.Enroll-btn {
  padding: 5px 20px;
  font-size: 1.5rem;
  width: 20vw;
  transform: scale(1);
  transition: 0.5s ease-in-out;
  background-color: #2ec4b6;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  margin-top: 30px;
}
.Enroll-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px black;
}
.right-content-img {
  width: 90%;
  margin: 20px 0px;
}
@media only screen and (max-width: 1110px) {
  .left-content-heading {
    font-size: 1.5rem;
  }
  .right-content-img {
    width: 100%;
    margin: 20px 0px 20px 20px;
    transform: scale(1.1);
  }
  .Enroll-btn {
    width: 30vw;
    font-size: 1.3rem;
  }
  .left-content-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .left-content-para {
    margin: 10px 0px;
    text-align: justify;
    font-size: 1rem;
    padding: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .left-content-heading {
    font-size: 1.7rem;
  }
  .Enroll-btn {
    width: 40vw;
  }
  .left-content,
  .right-content {
    width: 80%;
    text-align: center;
  }
  .main-content {
    flex-direction: column;
    /* border: 2px solid red; */
    padding-bottom: 30px;
  }
  .left-content {
    order: 2;
  }
  .right-content {
    order: 1;
  }
  .right-content-img {
    width: 80%;
    margin: 0px;
    transform: scale(0.8);
  }
}
.scope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scope-content {
  width: 80%;
  margin: 30px;
}
.scope-accounts {
  display: none;
}
.scope-inner-content {
  display: block;
  padding: 10px 20px;
  position: relative;
  background-color: #2ec4b6;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.scope-inner-content::after {
  content: "+";
  position: absolute;
  right: 20px;

  padding: 0px 10px;
  border-radius: 50%;
  font-size: 1rem;
}
.perks-incentives {
  text-align: center;
  font-size: 2rem;
}
.scope-details {
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.scope-accounts:checked ~ .scope-details {
  height: fit-content;
  transition: 0.5s ease-in-out;
  margin: 20px;
}
.scope-accounts:checked ~ .scope-inner-content::after {
  content: "-";
}
.scope-details-main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scope-details-left,
.scope-details-right {
  width: 40%;
  text-align: center;
}
.scope-details-heading {
  font-size: 1.5rem;
}
.scope-details-para {
  margin: 20px 0px;
  width: 100%;
  text-align: justify;
}
.accounts-btn {
  padding: 5px 20px;
  font-size: 1rem;
  width: 15vw;
  transform: scale(1);
  transition: 0.5s ease-in-out;
  background-color: #2ec4b6;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  margin-top: 30px;
}
.accounts-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px black;
}
.scope-details-img {
  width: 90%;
  margin-left: 50px;
}
@media only screen and (max-width: 1100px) {
  .scope-details-main {
    flex-direction: column;
  }
  .scope-details-left {
    order: 2;
    width: 100%;
  }
  .scope-details-right {
    order: 1;
    width: 100%;
  }
  .scope-details-img {
    width: 50%;
    margin-left: 50px;
  }
}
.covering-heading {
  text-align: center;
}
