*{
    margin:0;
    padding:0;
}

body
{
    /* margin-left:auto;
    margin-right:auto; */
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --black: #000;
    --gray-100: #0d0b1d;
    --gray-200: #383856;
    --gray-300: #646481;
    --gray-400: #a8a8bd;
    --gray-500: #dadae2;
    --gray-600: #ececee;
    --gray-700: #fafafa;
    --blue-100: #2916e2;
    --blue-200: #3b49ff;
    --blue-300: #e8e8fd;
    --off-white-100: #f4efe2;
    --off-white-200: #f7f5ee;
    --off-white-300: #fbfaf6;
    --pastel-blue-100: #86b8df;
    --pastel-blue-200: #c3dcef;
    --pastel-blue-300: #e8f0f6;
    --teal-100: #202c2c;
    --teal-200: #d0dddd;
    --teal-300: #f1faf4;
    --yellow-100: #ffbf52;
    --yellow-200: #ffda24;
    --yellow-300: #ffe8bd;
    --red-100: #dc3009;
    --red-200: #ff613d;
    --green-100: #0fbd69;
    --green-200: #33d989;
}
/* Header Section Starts */
.head{
    width:100%;
}
.head .head_nav{
    padding:20px 20px;
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    /* border:2px solid red; */
}
#As_logo{
    /* width:20%; */
}
.head #As_logo .company{
    display:flex;
    height:100%;
    justify-content:center;
    align-items:center;
    /* border:2px solid green; */
    text-decoration:none;
}
.company img{
    padding:0px 10px;
}
.company .Com_name{
    margin-bottom:0;
    width:auto;
    text-align:center;
    font-size:1.2rem;
    color:var(--gray-100);
}
.head .nav{
    display:inline-flex;
    width:80%;
    justify-content:center;
    align-items:center;
    /* display:none; */
}
.nav_first ,.nav_second{
    list-style:none;
    display:flex;
}
.nav_first li{
    font-size:1.2rem;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0px 15px;
    color:var(--gray-100);
}
.nav_second{
    float:right;
    padding-left:4vw;
}
.nav_second li{
    font-size:1.2rem;
    cursor:pointer;
    display:flex;
    color:var(--blue-100);
    justify-content: center;
    align-items: center;
    padding:8px 15px;
    border-radius:30px;
}
.nav_first li:hover{
    color:var(--blue-100);
}
.nav_second li:last-child{
    border:1px solid var(--blue-100);
    background:var(--blue-100);
    color:var(--white);  
    font-weight:bold;
}
.nav_second li:first-child{
    margin-right:5px; 
}
#ham_icon{
    float:right;
    position:absolute;
    top:20px;
    right:80px;
    display:none;
    font-size:20px;
    padding:15px 20px;
    cursor:pointer;
}
@media only screen and (max-width:1400px){
    #ham_icon{
        display:block;
    }
    .head .nav{
        display:none;
    }
    .top,.middle,.bottom{
        background-color:black;
        width:30px;
        height:6px;
        margin-bottom:2px;
        transition:0.4s ease-in-out;
    }
    .change .top{
        transform:rotate(-45deg) translate(-6px ,6px);
        /* transform:rotate(-45deg) translate(-6px,6px); */
    }
    .change .middle{
        display:none;
    }
    .change .bottom{
        transform:rotate(45deg);
    }
}
#sidelay{
    position:fixed;
    z-index:1000;
    top:90px;
    left:0;
    height:100%;
    overflow-x:hidden;
    padding-top:60px;
    width:0%;
    transition:0.5s;
    /* border:1px solid red;     */
}
.head .Sidelay{
    width:100%;
}
#sidelay .first a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:var(--grey-100);
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
#sidelay .second{
    display:flex;
    border:1px solid green;
    position:absolute;
    bottom:180px;
    width:100%;
}
#sidelay .second a{
    width:50%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:var(--grey-100);
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.3s;
}
/* Header Section Ends */
/*Live now*/

.box-size
{
    width:40%;
    min-width:8rem;
    min-height:250px;
    color:var(--gray-100);
    background:var(--gray-600);
    border-radius:50px;
    display:inline;
    /* text-align:center; */
    position:relative;
    padding:2%;
    height:fit-content;
}

.on-demand
{
    display:block;
    position:static;
    min-height:300px;
}

.on-demand-title
{
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
}

@keyframes live-left
{
    from
    {
        left:1rem;
    }

    to
    {
        left:5rem;
    }
}

@keyframes live-right
{
    from
    {
        right:1rem;
    }
    to
    {
        right:5rem;
    }
}

.box-size-left
{
    left:5rem;
    animation-name:live-left;
    animation-duration:1s;
    float:left;
}

.box-size-right
{
    right:5rem;
    animation-name:live-right;
    animation-duration:1s;
    float:right;
}

.on-demand-details
{
    font-size:small;
}

@media screen and (max-width:900px)
{
    .box-size
    {
        width:80%;
    }

    @keyframes live-left
    {
        from
        {
            left:1rem;
        }
        to
        {
            left:2rem;
        }
    }

    @keyframes live-right
    {
        from
        {
            right:1rem;
        }
        to
        {
            right:1rem;
        }
    }

    .box-size-left
    {
        left:2rem;
    }

    .box-size-right
    {
        right:2rem;
    }
}

.workshop
{
    margin-left:10%;
    margin-right:10%;
}

.workshop h2
{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.workshop-section
{
    width:240px;
    height:240px;
    background:var(--teal-300);
    display:inline-flex;
    margin:10px 5px;
    border-radius:10px;
}

@keyframes workshop-inner-animation
{
    from
    {
        width:50%;
        height:50%;
        top:25%;
        left:25%;
    }
    to
    {
        width:99%;
        height:99%;
        top:1%;
        left:1%;
    }
}

@keyframes workshop-section-reverse
{
    from
    {
        width:100%;
        height:100%;
        top:0%;
        left:0%;
        background:var(--teal-200);
    }
    to
    {
        width:50%;
        height:50%;
        top:25%;
        left:25%;
        background:none;
    }
}

.workshop-section-inner
{
    width:100%;
    height:100%;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    top:25%;
    left:25%;
    animation-name:workshop-service-reverse;
    animation-duration:2s;
}

.workshop-section-inner:hover
{
    background:var(--teal-200);
    animation-name:workshop-inner-animation;
    animation-duration:0.5s;
    overflow:hidden;
    top:0%;
    left:0%;
    animation-fill-mode:forwards;
}