/*home*/
#company
{
    font-size:30px;
    color:blanchedalmond;
    border-radius:0;
}

.animated_icon
{
    height:20px;
    width:30px;
    position:realtive;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
    -o-transition:0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.animated_icon span
{
    display:block;
    background:#FFFBFD;
    width:100%;
    height:3px;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition:0.25s ease-in-out;
    -o-transition:0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    position:absoulte;
    left:0;
    opacity:1;
    border-radius:9px;
    margin:1px;
}

.animated_icon span:nth-child(1)
{
    top:0px;
}

.animated_icon span:nth-child(2), .animated_icon span:nth-child(3)
{
    top:10px;
}

.animated-icon span:nth-child(4)
{
    top:20px;
}

.animated_icon.open span:nth-child(2)
{
    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform:rotate(45deg);
}

.animated_icon.open span:nth-child(3)
{
    -webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: roate(-45deg);
    transform:rotate(-45deg);
}

.animated_icon.open span:nth-child(1)
{
    top:10px;
    width:0%;
    left:50%;
    opacity:0;
}

.animated_icon.open span:nth-child(4)
{
    top:10px;
    width:0%;
    left:50%;
    opacity:0;
}

a :link 
{
    text-decoration:none;
    color:white;
}

a 
{
    color:white;
}

#menubtn
{
    display:none;
}

#nav
{
    color:white;

}

#header
{
    background:black;
    padding:0;
}

#header_back
{
    background:black;
}

#nav_social
{
    /* float:right; */
    position:fixed;
    top:30%;
    right:2vw;
    z-index:1;
}

.nav_icon
{
    height:3vw;
    width:3vw;
    margin:5px;
    transition:all 0.2s ease-in;
    transform:scale(1);
}

.nav_icon:hover
{
    transform:scale(1.1);
}

#facebook
{
    background:url("../image/icon/001-facebook.png");
    background-size:cover;
    transition:0.5;
}

#instagram
{
    background:url("../image/icon/003-instagram.png");
    background-size:cover;
    transition:0.5;
}

#twitter
{
    background:url("../image/icon/05-twitter.png");
    background-size:cover;
    transition:0.5;
}

#telegram
{
    background:url("../image/icon/003-telegram.png");
    background-size:cover;
    transition:0.5;
}

#linkedin
{
    background:url("../image/icon/linkedin.png");
    background-size:cover;
    transition:0.5;
}

#youtube
{
    background:url("../image/icon/youtube.png");
    background-size:cover;
    transition:0.5;
}

#facebook:hover
{
    background:url("../image/icon/facebook\(2\).png");
    background-size:cover;
    transition:0.5;
}

#instagram:hover
{
    background:url("../image/icon/007-instagram-1.png");
    background-size:cover;
    transition:0.5;
}

#twitter:hover
{
    background:url("../image/icon/002-twitter.png");
    background-size:cover;
    transition:0.5;
}

#telegram:hover
{
    background:url("../image/icon/002-telegram-1.png");
    background-size:cover;
    transition:0.5;
}

#linkedin:hover
{
    background:url("../image/icon/linkedinb.png");
    background-size:cover;
    transition:0.5;
}

#youtube:hover
{
    background:url("../image/icon/003-youtube.png");
    background-size:cover;
    transition:0.5;
}

#logo
{
    width:60%;
    height:auto;
    padding:22% 10% 2% 10%; 
}

#home
{
    background-image:url("../image/roman-serdyuk-DL9Wz4YDa2s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    scroll-margin-top:60px;
}

.name
{
    color:white;
    text-align:center;
    width:60%;

}

@media screen and (max-width:900px)
{
    .name
    {
        width:100%;
    } 

    .nav_icon
    {
        width:5vw;
        height:5vw;
    }

    #nav_social
    {
        position:fixed;
        right:-5px;
    }

    #menubtn
    {
        display:block;
    }

}

#menu
{
    border-color:white;
}

.ASE
{
    padding:0 10%;
    scroll-margin-top:50px;
}

.ASE h1
{
    color:white;
    padding: 3% 0;
}

.course
{
    text-align:center;
    transition:all 1;
}

.course:hover
{
    transition:all 1.2;
}

.course_bg
{
    background:grey;
    text-align:justify;
}

.course_img
{
    height:auto;
    width:auto;
}

#button_p
{
    text-align:center;
    padding:10px;
}

#know_more
{
    background:radial-gradient(lightblue,grey);
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius:25vw;
}

#know_more:hover
{
    background:linear-gradient(grey,black);
    transition:100ms ease-in-out;
}

.AST
{
    padding:0 10%;
    scroll-margin-top:50px;
}

.AST h1
{
    color:white;
    padding: 3% 0 0 0;
}

.web_img
{
    background:url("../image/pexels-lukas-574071.jpg");
    background-size:cover;
    margin:1vw;
    text-align:center;
    min-height:250px;
    transform:scale(1);
    transition:all 0.5s ease-in;
}

.web_img:hover
{
    transform:scale(1.1);
}

.app_img
{
    background:url("../image/pexels-freestocksorg-892757.jpg");
    background-size:cover;
    margin:1vw;
    text-align:center;
    min-height:250px;
    transform:scale(1);
    transition:all 0.5s ease-in;
}

.app_img:hover
{
    transform:scale(1.1);
}

.AST h2
{
    color:white;
    position:absolute;
    bottom:10px;
    left:20%;
}

.csr
{
    padding:1em 0;
}

.csr h1
{
    text-align:center;
    color:#FFFBFD;
}

#abouta
{
    padding:30px;
    scroll-margin-top:50px;
}

#about
{
    width:100%;
    background:black;
    text-align:center;
    color:white;
}

#about_data
{
    text-align:justify;
}

#about_head
{
    color:white;
}

#vision_data
{
    text-align:justify;
    position:relative;
}

#mission_data
{
    text-align:justify;
    position:relative;
}

#vision_img
{
    width:100%;
    height:auto;
    background-size:cover;
}

#mission_img
{
    width:100%;
    height:auto;
    background-size:cover;
}

body
{
    overflow-x:hidden;
    background:black;
}

#founder_heading
{
    text-align:center;
}

#founder_heading h1
{
    color:#FFFBFD;
}

#atharv
{
    overflow:hidden;
    text-align:justify;
    background:url("../image/atharv.jpg");
    background-size:cover;
    height:500px;
    border-radius:5px;
    margin:5px;
}

#mandeep
{
    overflow:hidden;
    text-align:justify;
    background:url("../image/photo6327978894807903277.jpg");
    background-size:cover;
    height:500px;
    border-radius:5px;
    margin:5px;
}
/* 
.founders_image
{
    width:100%;
    max-height:500px;
    min-height:500px;
    border-radius:5px;
    z-index:-1;
}
 */
.arrow
{
    width:50px;
    height:auto;
    z-index:2;
    position:relative;
    left:45%;
}

.atharv_info
{
    color:#FFFBFD;
    border-radius:5px;
    background:rgba(0,0,0,0.8);
    display:none;
    position:relative;
    /* top:-500px; */
    z-index:1;
    overflow:hidden;
    padding:2em;
    margin:1em;
}

.mandeep_info
{
    color:#FFFBFD;
    border-radius:5px;
    background:rgba(0,0,0,0.8);
    display:none;
    position:relative;
    z-index:1;
    overflow:hidden;
    padding:2em;
    height:auto;
    margin: 0.5em 0 0 0;
}

.a_atharv
{
    position:relative;
    bottom:-450px;
}

.a_mandeep
{
    position:relative;
    bottom:-450px;
}

#footer-main{
    background:url("../image/christian-holzinger-CUY_YHhCFl4-unsplash.jpg");
    background-blend-mode:darken;
    background-color: black;
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#headlinef{
    color: white;
}
#asmark{
    color: white;
}
/* 
#dial-icon{

} */
#email{
    color: white    ;
}

.footer-twitter-col
{
    height:350px;
    overflow:scroll;
    overflow-x:hidden;
    -ms-overflow-style:none;
    scrollbar-width:none;
}

.footer-twitter
{
    overflow-x:hidden;
    overflow:hidden;
}

.footer-twitter-col::-webkit-scrollbar
{
    display:none;
}