*{
    margin:0;
    padding:0;
}

body
{
    /* margin-left:auto;
    margin-right:auto; */
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --black: #000;
    --gray-100: #0d0b1d;
    --gray-200: #383856;
    --gray-300: #646481;
    --gray-400: #a8a8bd;
    --gray-500: #dadae2;
    --gray-600: #ececee;
    --gray-700: #fafafa;
    --blue-100: #2916e2;
    --blue-200: #3b49ff;
    --blue-300: #e8e8fd;
    --off-white-100: #f4efe2;
    --off-white-200: #f7f5ee;
    --off-white-300: #fbfaf6;
    --pastel-blue-100: #86b8df;
    --pastel-blue-200: #c3dcef;
    --pastel-blue-300: #e8f0f6;
    --teal-100: #202c2c;
    --teal-200: #d0dddd;
    --teal-300: #f1faf4;
    --yellow-100: #ffbf52;
    --yellow-200: #ffda24;
    --yellow-300: #ffe8bd;
    --red-100: #dc3009;
    --red-200: #ff613d;
    --green-100: #0fbd69;
    --green-200: #33d989;
}

/*@font-face
{
    font-family:Vollkron;
    src:url("https://fonts.google.com/specimen/Vollkorn");
}*/

/* Header Section Starts */
.head{
    width:100%;
    position:fixed;
    z-index:1000;
    background-color:var(--white);
    top:0;
}
.head .head_nav{
    padding:20px 20px;
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    /* border:2px solid red; */
}
#As_logo{
    /* width:20%; */
}
.head #As_logo .company{
    display:flex;
    height:100%;
    justify-content:center;
    align-items:center;
    /* border:2px solid green; */
    text-decoration:none;
}
.company img{
    padding:0px 10px;
}
.company .Com_name{
    margin-bottom:0px;
    width:140px;
    text-align:center;
    font-size:1.4rem;
    color:var(--gray-100);
}
.company .Com_name .always{
    font-weight:bold;
}
.head .nav{
    display:flex;
    width:80%;
    justify-content:center;
    align-items:center;
}
.nav_first ,.nav_second{
    list-style:none;
    display:flex;
}
.nav_first li{
    font-size:1.1rem;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0px 15px;
    color:var(--gray-100);
}
.nav_second{
    float:right;
    padding-left:4vw;
}
.nav_second li{
    font-size:1.1rem;
    cursor:pointer;
    display:flex;
    color:var(--blue-100);
    justify-content: center;
    align-items: center;
    padding:10px 15px;
    border-radius:20px;
}
.nav_first li:hover{
    color:var(--blue-100);
}
.nav_second li:last-child{
    border:1px solid var(--blue-100);
    background:var(--blue-200);
    color:var(--white);  
    transition:1s ease-out;
}
.nav_second li:last-child:hover{
    background:var(--blue-100);
}
.nav_second li:first-child{
    margin-right:5px; 
}
#ham_icon{
    float:right;
    position:absolute;
    top:20px;
    right:20px;
    display:none;
    font-size:20px;
    padding:15px 20px;
    cursor:pointer;
}
@media only screen and (min-width:1321px){
    #sidelay{
        display:none;
    }
}
@media only screen and (max-width:1320px){
    #ham_icon{
        display:block;
    }
    .head .nav{
        display:none;
    }
    .top,.middle,.bottom{
        background-color:black;
        width:30px;
        height:6px;
        margin-bottom:2px;
        transition:0.4s ease-in-out;
    }
    .change .top{
        transform:rotate(-45deg) translate(-6px ,6px);
        /* transform:rotate(-45deg) translate(-6px,6px); */
    }
    .change .middle{
        display:none;
    }
    .change .bottom{
        transform:rotate(45deg);
    }
}
.Sidelay{
    position:fixed;
    z-index:1000;
    top:90px;
    left:0;
    height:100%;
    overflow-x:hidden;
    padding-top:60px;
    width:0%;
    transition:0.3s;
    /* border:1px solid red;     */
}
.sidelay_full{
    position:fixed;
    z-index:1000;
    top:90px;
    left:0;
    height:100%;
    overflow-x:hidden;
    padding-top:60px;
    width:100%;
    transition:0.3s;
    background-color: var(--white);
}
#sidelay .first a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:var(--grey-100);
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
#sidelay .first a:hover{
    color:var(--blue-100);
}
#sidelay .second{
    display:flex;
    /* border:1px solid green; */
    position:absolute;
    bottom:120px;
    width:100%;
}
#sidelay .second a{
    width:50%;
    max-width: 400px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:var(--grey-100);
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.3s;
}
#sidelay .second a:first-child:hover{
    color:var(--blue-100);
}
#sidelay .second a:last-child{
    background:var(--blue-100);
    border-radius:30px;
    color:var(--white);
    font-weight:500;

}
/* Header Section Ends */
/*Live now*/

.intro-text
{
    width:40%;
    height:300px;
    position:relative;
    top:30%;
}

.box-size
{
    width:40%;
    min-width:8rem;
    min-height:250px;
    color:var(--gray-100);
    background:var(--gray-600);
    border-radius:50px;
    display:inline;
    /* text-align:center; */
    position:relative;
    padding:2%;
    height:fit-content;
    margin:1vw;
}

.on-demand
{
    display:block;
    position:relative;
    min-height:680px;
    top:100px;
}

.on-demand-title
{
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
}

@keyframes live-left
{
    from
    {
        left:1rem;
    }

    to
    {
        left:5rem;
    }
}

@keyframes live-right
{
    from
    {
        right:1rem;
    }
    to
    {
        right:5rem;
    }
}

.box-size-left
{
    left:5rem;
    animation-name:live-left;
    animation-duration:1s;
    float:left;
}

.box-size-right
{
    right:5rem;
    animation-name:live-right;
    animation-duration:1s;
    float:right;
}

.box-right-low
{
    animation-delay:0.1s;
}

.on-demand-details
{
    font-size:small;
    /* position:absolute; */
    /* left:60%; */
}

.intro-button
{
    background:var(--blue-100);
    color:var(--white);
    height:50px;
    border-radius:25px;
    border-color:var(--blue-100);
    padding:10px;
}

@media screen and (max-width:900px)
{
    .box-size
    {
        width:80%;
        top:150px;
    }

    @keyframes live-left
    {
        from
        {
            left:1rem;
        }
        to
        {
            left:2rem;
        }
    }

    @keyframes live-right
    {
        from
        {
            right:1rem;
        }
        to
        {
            right:1rem;
        }
    }

    .box-size-left
    {
        left:2rem;
    }

    .box-size-right
    {
        right:2rem;
    }

    .intro-text
    {
        width:100%;
        height:60px;
        top:0%;
    }

    .intro-text h2
    {
        font-family:'Doris',sans-serif;
    }

    .on-demand
    {
        height:900px;
    }
}

.on-demand-image
{
    height:80%;
    width:50%;
    position:absolute;
    bottom:-10%;
    border-radius:50%;
}

#on-demand-first
{
    position:absolute;
    left:10%;
}

#on-demand-second
{
    position:absolute;
    right:90%;
}

.csr
{
    margin-left:10%;
    margin-right:10%;
}

.csr-image
{
    width:100%;
    height:80%;
}

/* .workshop
{
    margin-left:10%;
    width:80%;
} */

#workshop
{
    scroll-margin-top:100px;
}

.workshop h2
{
    text-align:center;
    font-family:'Vollkron',serif;
}

.workshop-section
{
    
    width:240px;
    height:240px;
    background:var(--teal-300);
    display:inline-flex;
    /* display:flex; */
    justify-content:center;
    align-items:center;
    margin:10px 5px;
    border-radius:10px;
    overflow:hidden;
    backface-visibility: hidden;
    position:relative;
    transition: color 1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor:pointer;
}
.workshop-section:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    background:rgb(250, 250, 250);
    /* rgb(253, 253, 84); */
    border-radius:50%;
    transform:scale(0);
    transition:0.8s ease-out;
    transition-property: transform;
}
.workshop-section:hover:before{
    transform:scale(2);
}

.workshop-section:hover .workshop-image
{
    top:20%;
}

.workshop-section:hover .workshop-text
{
    top:80%;
}

.workshop-text
{
    position:absolute;
    transition:0.5s;
}

.workshop-image
{
    position:absolute;
    top:-100%;
    transition:0.5s;
    height:50%;
    width:50%;
}

@keyframes workshop-inner-animation
{
    from
    {
        width:50%;
        height:50%;
        top:25%;
        left:25%;
    }
    to
    {
        width:100%;
        height:100%;
        top:0%;
        left:0%;
    }
}

@keyframes workshop-section-reverse
{
    from
    {
        width:100%;
        height:100%;
        top:0%;
        left:0%;
        background:var(--teal-200);
    }
    to
    {
        width:50%;
        height:50%;
        top:25%;
        left:25%;
        background:none;
    }
}

.workshop-section-inner
{
    width:100%;
    height:100%;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    top:25%;
    left:25%;
    animation-name:workshop-service-reverse;
    animation-duration:2s;
}

.workshop-section-inner:hover
{
    background:var(--teal-200);
    animation-name:workshop-inner-animation;
    animation-duration:0.5s;
    overflow:hidden;
    top:0%;
    left:0%;
    animation-fill-mode:forwards;
}

.world-map
{
    height:80%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.covid-memorial h2
{
    color:var(--gray-100);
    text-align:center;
    font-weight:bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.covid-memorial
{
    width:100%;
    padding-left:10%;
    padding-right:10%;
    background-color:var(--gray-700);
    border-radius:10px;
}

.city
{
    position:relative;
    left:40%;
    display:inline-flex;
}

.search-input
{
    width:80%;
}

@media screen and (max-width:900px)
{
    .city
    {
        left:10%;
        top:40%;
    }

    .search-input
    {
        width:100%;
    }
}

.as-wani-image
{
    height:100%;
    width:100%;
    position:absolute;
}

.as-wani-title
{
    color:var(--off-white-300);
    position:absolute;
    bottom:-10%;
}

.image-container
{
    z-index:3;
    position:relative;
    top:80%;
    margin-left:6%;
    background:aqua;
}

.workshop-text
{
    padding:10%;
    color:black;
    position:static;
    z-index:2;
    height:fit-content;
    width:400px;
    position:relative;
}

.workshop-container
{
    height:350px;
    width:400px;
    background:#2EC4B6;
    display:inline-flex;
    z-index:-2;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    transition-duration:0.5s;
    border-radius:30px;
}

.workshop-image
{
    height:350px;
    width:350px;
    border-radius:30px;
}

.workshop
{
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
    width:90%;
    left:5%;
}

#writeup-1
{
    top:0%;
}

#writeup-2
{
    top:0%;
}

#writeup-3
{
    top:0%;
}

.workshop-container:hover
{
    background:aqua;
}