.Privacy_page {
  text-align: justify;
  width: 80vw;
  position: relative;
  left: 0;
  right: 0;
  margin: 10vh 10vw;
}
.Refund {
  text-align: justify;
  width: 80vw;
  position: relative;
  left: 0;
  right: 0;
  margin: 10vh 10vw;
}
.Terms_page {
  text-align: justify;
  width: 80vw;
  position: relative;
  left: 0;
  right: 0;
  margin: 10vh 10vw;
}
@font-face {
  font-family: bebas;
  src: url("/fonts/Bebas\ Neue\ Cyrillic.ttf");
}
@font-face {
  font-family: sauce;
  src: url("/fonts/Open-Sauce-Sans/TTF/OpenSauceSans-SemiBold.ttf");
}
@font-face {
  font-family: sauce1;
  src: url("/fonts/Open-Sauce-Sans/TTF/OpenSauceSans-Light.ttf");
}
h1 {
  font-family: bebas;
  font-weight: 500;
}
h2 {
  font-family: sauce;
  font-weight: 400;
  font-size: 1.4rem;
}
p {
  font-family: sauce1;
}
li {
  font-family: sauce1;
}
