body{
    overflow-x: hidden;
}
.navbar{
    background-image: linear-gradient(
        140deg,
        #29648a 20%,
        #2e9cca 40%,
        #aaabb8 65%);
}

.img{
    text-align: right;
    height: 45px;
    width: auto;
}
.text{
    text-align: right;
    font-size: 20px;
}
.package {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 28px;
  }
.text a{
    color: aliceblue;
}
.text a:hover{
    text-decoration: none;
    color: black;
    transition: 1s ease-in-out;
}
.content{
    height: auto;
    width: 100%;
    background-image: linear-gradient(
        140deg,
        #29648a 20%,
        #2e9cca 40%,
        #aaabb8 65%);
    margin: 0;
    padding: 0;
}
.rf {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
}
.linkIn {
  margin-top: 40px;
  width: 100%;
}
.copy {
    margin-top: 40px;
  }
.referal{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
input[type=text]{
    height: 40px;
    border-radius:15px;
}
.courses{
    margin-left: 20px;
    margin-bottom: 20px;
}
.course:hover {
    transform: translate(7px, 16px);
}
.course {
    height: 200px;
    width: auto;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    box-shadow: 5px 10px 20px rgb(146, 145, 145);
}
input.check{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.eligibleCourses{
    text-align: center;
}