body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

.background{
     overflow: hidden;
}
.content{
  width: 100%;
  height: 1000px;
  background-image: linear-gradient( 140deg, #AAABB8 20%, #2E9CCA 40%, #29648A 65%);
}
.iconimg{
  width: auto;
  height: 28px;
  padding: 2px;
  margin: 2px;
}
.iconimgT{
  width: auto;
  height: 35px;
}
.iconimg a:hover{
  height: 35px;
}

.icons{
  text-align: right;
}
.bg-img{
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.name{
  padding: 15px;
  color: #25274D;
}
h1{
  margin-left: 30px;
  text-align: justify;
  color: #25274D;
  font-weight: lighter;
}
.sidebar {
  background-image: linear-gradient( 140deg, #AAABB8 30%, #2E9CCA 50%, #29648A 75%);
  border-right: #25274D 1px solid;
  margin: 0;
  padding: 0;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: #25274D;
  padding: 16px;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
 
.sidebar a.active {
  color: #25274D;
}
.sidebar a.active:hover{
  color:white;
  text-decoration: none;
  transition: 1s ease-out;
}

.sidebar a:hover:not(.active) {
  color: white;
  text-decoration: none;
  transition: 1s ease-out;
}
h2{
  padding: 11px;
  font-weight: 300;
  color: #25274D;
}
div.content {
  color: #25274D;
  margin-left: 250px;
  padding:20px 0px 20px 20px;
  height: auto;
  width: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    overflow-x: hidden;
  }
}
.row{
  margin-right: 0;
  padding-right: 0;
  margin-left: 0;
}
.head{
  float: right;
  color: black;
}
.head a{
  color: black;
}
.heading{
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.headings{
  float: left;
  margin: 20px;
  font-size: 28px;
  font-weight: 400;
}
.logout,.associateId{
  margin-left: 10px;
  font-size: 18px;
  color: rgb(36, 119, 168);
}
.head a:hover{
  text-decoration: none;
  transition: 1s ease-out;
  color: blue;
}
.associateId{
  font-weight: 700;
  color: black;
}
.line{
  width: 100%;
  margin-top:5px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #25274D;
}
.line2{
  width: 100%;
  height: 1px;
  font-weight: 100;
  background-color:#25274D;
}
.Dashboard{
  padding: 5px;
}
#Dashboard{
  height: 700px;
}
.Dh{
  font-size: 30px;
  font-weight: 300;
}

.Linfo{
  font-size: 20px;
  font-weight: 400;
  float: right;
  padding-right: 15px;
}
.changePassword {
  text-decoration: none;
  color:#25274D ;
}
.changePassword:hover{
  text-decoration: none;
  color: white;
  transition: 1s ease-out;
}
.levelTable{
  background-color: #464866;
  width: auto;
  padding: 25px;
  margin: 0px 20px 50px 20px ;
  box-shadow: 5px 6px 8px #464866 ;
}
.TableHeads{
  border: 1px solid white;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  text-align: left;
}
.TableInfo{
  border: 1px solid white;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  width: 100px;
  padding: 10px;
  border-radius: 25px;
  text-align: left;
  background-color:rgb(101, 216, 252) ;
}
.table1{
  background-color: #2E9CCA;
  margin-bottom:10px ;
  font-size: 20px;
  font-weight: 400;
  color: black;
  opacity: 68%;
  box-shadow: 5px 10px 10px #25274d;
}
td, th{
  width: auto;
  height: 30px;
  padding: 5px;
  border: 1px solid #25274D;
}
.flex-box-container-1{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}
.container-1{
  overflow-x: scroll;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.heads{
  font-size: 24px;
  font-weight: 200;
  color: aliceblue;
  margin: 20px 0px;
}
.statusContainer a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 100;
}
.statusContainer a:hover{
  text-decoration: none;
  font-size: 20px;
  color: #AAABB8;
  font-weight: 100;
}

.statusContainer{
  border-radius: 20px;
  padding: 0px;
  margin: 30px 10px;
  background-color:#464866  ;
}
.register a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: 100;
  float: right;
}
.register a:hover{
  text-decoration: none;
  color: black;
}
.link a{
  margin-top: 18px;
  color: black;
}
.RF{
  font-size: 38px;
  font-weight: 300;
  text-align: left;
}
.MV{
  font-size: 25px;
  font-weight: 400;
  color: whitesmoke;
  padding: 10px;
  margin-top: 20px;
  background-color: #313349;
  opacity: 50%;
}
.titles{
  text-align: right;
  margin-right:  50px;
  font-size: 20px;
}
.titles1{
  text-align: right;
  margin-right: 25px;
  font-size: 20px;
}
input, textarea, select{
  text-align: left;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 65%;
  padding: 5px;
  height: 40px;
  background-color: #dfe0eb;
  border-radius: 10px;
  border: 1px #25274D solid;
}
textarea{
  height: 60px;
}
.MobileV{
  margin-top: 30px;
  text-align: left;
}
button{
  background-color: #25274D;
  color: white;
  text-align: center;
}
.BO, .BO2, .BO3, .BO4{
  padding: 5px;
  margin: 20px 20px 20px 20px;
}
.Final{
  margin-top: 10px;
}
#MobileChange{
  display: none;
}
#titles{
  margin-right: 50px;
}
select{
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
#ASSRegistrationForm{
  display: none ;
}
.OTP{
  width: 72%;
}
#OTP{
  display: none;
}
#OTP2{
  display: none;
}
#OTP3{
  display: none;
}
#OTP4{
  display: none;
}
.OTPNo{
  display: none;
}
#IACRegistrationForm{
  display: none;
}
.logo{
  width: auto;
  height: 50px;
  text-align: right;
  margin:20px 0px 20px 70px;
}
#IAC-business{
  display: none;
}
.align-right{
  font-size: 26px;
  width: 100%;
  font-weight: 400;
  margin: 15px;
  
  padding: 5px;
  border: 1px solid #25274D;
  border-radius: 20px;
}
.S-color{
  background-image: linear-gradient(60deg,#e9acd3 20%, #cc70ab 75%);
}
.E-color{
  background-image: linear-gradient(60deg,#b1e6cd 20%, #70cca9 75%);
}
.J-color{
  background-image: linear-gradient(60deg,#e9e0ac 20%, #cacc70 75%);
}
.table2{
  border: none;
  font-size: 20px;
  font-weight: 400;
}
.td2{
  padding: 5px 15px;
}
/*#table2{
  display: none;
}*/
.down{
  float: right;
  margin-bottom: 8px;
}
#verifications{
  height: 650px;
  display: none;
}
.target{
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
  text-align: right;
}
.courseImg{
  margin-top: 40px;
  width: auto;
  height: 250px;
}
.MyCourses{
  background-image: linear-gradient(140deg, #AAABB8 20%, #2E9CCA 40%, #29648A 65%);
  background-size: cover;
  height: 650px;
  display: none;
}
.rf{
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
}
.linkIn{
  margin-top: 40px;
  width: 100%;
}
.copy{
  margin-top: 40px;
}
#ReferalLink{
  height: 650px;
  display: none;
}
#downlineInfo{
  display: none;
}
#description{
  height: 100px;
}
.generateticket{
  height: 650px;
  display:none;
}
.referalLink{
  margin-top: 20px;
}
.home{
  text-align: right;
}
.home a{
  color: black;
}
.home a:hover{
  text-decoration: none;
  color: white;
}
.joinings{
  margin-bottom: 50px;
  padding-bottom: 50px;
}
#requests{
  display: none;
}