body{
  margin: 0;
  padding: 0;
}
.background{
     overflow: hidden;
}
.content{
  background-color: rgb(167, 228, 247);
}
.bg-img{
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.name{
  padding: 15px;
  color: #ad3903;
}
h1{
  margin-left: 30px;
  text-align: justify;
  color: rgb(221, 82, 31);
  font-weight: lighter;
}
.sidebar {
  border-right: #e07a44 1px solid;
  margin: 0;
  padding: 0;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: rgb(226, 110, 32);
  padding: 16px;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
 
.sidebar a.active {
  color: rgb(226, 110, 32)
}
.sidebar a.active:hover{
  color:black;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  color: black;
  text-decoration: none;
}
h2{
  padding: 11px;
  font-weight: 300;
  color: #e07a44;
}
div.content {
  color: rgb(221, 82, 31);
  margin-left: 250px;
  padding:20px 0px 20px 20px;
  height: auto;
  width: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    overflow-x: hidden;
  }
}
.row{
  margin-right: 0;
  padding-right: 0;
  margin-left: 0;
}
.head{
  float: right;
}
.heading{
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.headings{
  margin: 20px;
  font-size: 28px;
  font-weight: 400;
}
.logout,.associateId{
  margin-left: 10px;
  font-size: 18px;
  color: black;
}
.head a:hover{
  text-decoration: none;
  color: black;
}
.associateId{
  font-weight: 700;
}
.line{
  width: 100%;
  margin-top:20px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(255, 123, 0);
}
.line2{
  width: 100%;
  height: 1px;
  font-weight: 100;
  background-color: #e07a44;
}
.Dashboard{
  padding: 10px;
}
.Dh{
  font-size: 38px;
  font-weight: 300;
}

.Linfo{
  font-size: 20px;
  font-weight: 200;
  float: right;
  padding-right: 15px;
}
.changePassword {
  text-decoration: none;
  color: #e07a44;
}
.changePassword:hover{
  text-decoration: none;
  color: black;
}
.levelTable{
  background-color: rgb(17, 225, 240);
  width: auto;
  padding: 25px;
  margin: 0px 20px 50px 20px ;
  box-shadow: 5px 6px 8px rgb(245, 115, 92) ;
}
.TableHeads{
  border: 1px solid white;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  text-align: left;
}
.TableInfo{
  border: 1px solid white;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  width: 100px;
  padding: 10px;
  border-radius: 25px;
  text-align: left;
  background-color:rgb(101, 216, 252) ;
}
.table1{
  background-color: rgb(192, 237, 243);
  margin: 10px 30px 30px 30px;
  padding: 10px;
  font-size: 25px;
  font-weight: 300;
  color: black;
  box-shadow: 5px 10px 20px rgb(180, 204, 211);
}
td, th{
  width: auto;
  height: 30px;
  padding: 25px 30px 25px 15px ;
  border: 1px solid white;
}
tr{
  padding: 20px;
}
.flex-box-container-1{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}
.container-1{
  overflow-x: scroll;
  width: 100%;
  margin: 0;
  padding: 0;
}
.heads{
  font-size: 24px;
  font-weight: 200;
  color: aliceblue;
  margin: 20px 0px;
}
.statusContainer a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 100;
}
.statusContainer{
  border-radius: 20px;
  padding: 0px;
  margin: 30px 10px;
  background-color:rgb(255, 123, 0)  ;
}
.register a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: 100;
  float: right;
}
.register a:hover{
  text-decoration: none;
  color: black;
}
.link a{
  margin-top: 18px;
  color: black;
}
.RF{
  font-size: 38px;
  font-weight: 300;
  text-align: left;
}
.MV{
  font-size: 25px;
  font-weight: 400;
  color: whitesmoke;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(255, 123, 0);
}
.titles{
  text-align: right;
  margin: 10px 50px 10px 10px;
  font-size: 20px;
}
input{
  text-align: left;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  border: 5px #ad3903;
  border-style:double;
}
.MobileV{
  margin-top: 30px;
  text-align: left;
}
button{
  margin:20px;
  background-color: #e07a44;
  color: white;
  text-align: center;
}
.BO{
  padding: 5px;
  margin: 0px 20px 20px 20px;
}
#titles{
  margin-right: 50px;
}
select{
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
#RegistrationForm{
  display: none;
}
.logo{
  width: auto;
  height: 50px;
  text-align: right;
  margin:20px 0px 20px 70px;
}
#IAC-business{
  display: none;
}
.align-right, .align-left{
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 20px;
}
.table2{
  border: none;
  font-size: 20px;
  font-weight: 400;
}
.td2{
  padding: 5px 15px;
}
#table2{
  display: none;
}
.down{
  float: right;
  margin-bottom: 30px;
}