
body{
    overflow-x:hidden;
}

.menu
{
    color:#FFFBFD;
    font-size:large;
}

.content
{
    color:#FFFBFD;
    font-size:large;
    background:none;
    border:none;
}

#nav
{
    color:white;
}

#nav-content
{
    color:white;
}

.animated_icon
{
    height:20px;
    width:30px;
    position:realtive;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
    -o-transition:0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.animated_icon span
{
    display:block;
    background:#FFFBFD;
    width:100%;
    height:3px;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition:0.25s ease-in-out;
    -o-transition:0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    position:absoulte;
    left:0;
    opacity:1;
    border-radius:9px;
    margin:1px;
}

.as
{
    background:#FFFDBF;
}

.animated_icon span:nth-child(1)
{
    top:0px;
}

.animated_icon span:nth-child(2), .animated_icon span:nth-child(3)
{
    top:10px;
}

.animated-icon span:nth-child(4)
{
    top:20px;
}

.animated_icon.open span:nth-child(2)
{
    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform:rotate(45deg);
}

.animated_icon.open span:nth-child(3)
{
    -webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: roate(-45deg);
    transform:rotate(-45deg);
}

.animated_icon.open span:nth-child(1)
{
    top:10px;
    width:0%;
    left:50%;
    opacity:0;
}

.animated_icon.open span:nth-child(4)
{
    top:10px;
    width:0%;
    left:50%;
    opacity:0;
}

.nav_bar
{
    background:none;
    top:0;
    height:auto;
}

a :active :hover :visited
{
    text-decoration:none;
    color:blanchedalmond;
}

a 
{
    color:blanchedalmond;
}

.brand-logo
{
    height:auto;
    width:50px;
}

.header
{
    background:url("../image/zhengtao-tang-ltpQwpxObs8-unsplash.jpg");
    height:100%;
    background-size:cover;
}

.header h1
{
    color:#FFFFFF;
    padding: 15% 0 0 0;
}

.logo
{
    width:90%;
    height:auto;
    margin: 15% 0 0 0;
}

#company
{
    font-size:x-large;
    color:#FFFBDF;
    text-align:center;
}

.night
{
    width:30px;
    height:30px;
}

.tww
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:80%;
    min-height:80%;
}

.front-end-icon
{
    max-height:auto;
    max-width:100px;
}

.front-end
{
    margin:50px;
    display:inline;
}

.database
{
    margin:100px 0;
    display:none;
}

.database-icon
{
    max-height:auto;
    max-width:100px;
}

.back-end
{
    margin:100px 0;
    display:none;
}

.back-end-icon
{
    max-height:auto;
    max-width:100px;
}

.icon
{
    margin:2em;
}

.fields
{
    font-size:larger;
    transition:all .5ms ease;
    border:2px solid white;
}

.fields:hover
{
    color:orangered;
    border-bottom:2px solid orangered;
    cursor:pointer;
}

.frontend
{
    color:black;
}

.database-title
{
    color:black;
}

.backend
{
    color:black;
}

.services
{
    max-height:fit-content;
    width:100px;
}

@media screen and (max-width:800px)
{
    .logo
    {
        margin: 15% 0 0 5%;
        display:none;
    }

    .header h1
    {
        margin:10%;
    }
}

footer
{
    background:url("../image/christian-holzinger-CUY_YHhCFl4-unsplash.jpg");
    background-blend-mode:darken;
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: auto;
}

footer .data
{
    color:inherit;
}

footer .data
{
    color:#3777FF;
}

.footer-data
{
    text-align:left;
}

.contact
{
    height:50px;
    background:olive;
    border-radius:25px;
    width:50px;
    display:inline-flex;
}

.footer-left
{
    float:left;
}

#card1{background-color: red;
            /* height: 40rem;} */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
#card2{background-color: rgb(238, 225, 225);
    /* height: 40rem;} */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;

}
#card3{background-color: rgb(0, 102, 255);
    /* height: 40rem;} */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;

}

@media(min-width:600px){
.card-deck{
    position: relative;
    top:-7vw;
}
#heading-ourservices{
    display: none;
}
}

.footer-twitter-col
{
    height:350px;
    overflow:scroll;
    overflow-x:hidden;
    -ms-overflow-style:none;
    scrollbar-width:none;
}

.footer-twitter
{
    overflow-x:hidden;
    overflow:hidden;
}

.footer-twitter-col::-webkit-scrollbar
{
    display:none;
}