#as_logo
{
    height:40px;
    width:50px;
}

.font_color
{
    color:white;
    font-size:larger;
}
body{
    overflow:hidden;
}
.pro_link
{
    padding:0 0.2em;
    transition:all 0.5s;
}

.pro_link a
{
    color:whitesmoke;
}

.pro_link:hover
{
    border-bottom:0.1em;
}

#pro_links
{
    color:antiquewhite;
}

.pro_links
{
    background:#121212;
}

.ham_tog
{
    display:block;
    height:30px;
    width:30px;
}

.ham_tog span
{
    width:100%;
    height:10px;
    background:whitesmoke;
}

.ham_tog span:nth-child(1)
{
    position:relative;
    top:10px;
}

.ham_tog span:nth-child(2)
{
    position:relative;
    top:20px;
}

.ham_tog span:nth-child(3)
{
    position:relative;
    top:30px;
}

.nav_top
{
    position:absolute;
    top:0%;
    width:100%;
    height:50px;
    z-index:10;
    background:#121212;
    opacity:100%;
}

.nav_left
{   position: relative;
    width:20%;
    height:100%;
    background:#121212;
    opacity:100%;
    z-index:-10;
    float:left;
}
.nav-img{
    width: 100%;
    height: 250px;
}
.content
{  
    width:100%;
    background:rgb(14, 13, 13);
    float:left;
    overflow-x:hidden;
    overflow-y:scroll;
    height:100%;
}

.contents
{
    position:relative;
    top:10%;
}

.contents div a
{
    font-size:larger;
    color:whitesmoke;
    padding: 0 1em;
    text-decoration:none;
}

.content-image
{
    width:100%;
    height: 400px;
}
.tabs{
    padding: 20px 0;
}

.body-content
{
    display:block;
}

.add-nav
{
    display:none;
}

@media screen and (max-width:900px)
{
    #profile
    {
        display:none;
    }

    .nav_left
    {
        display:none;
    }

    .add-nav
    {
        display:block;
    }

    .content
    {
        width:100%;
    }
}
.nav-item a:hover{
    border-bottom: 3px solid whitesmoke;
}
.new{
    display: block;
}
/* #abc{
    background:yellow;
    height: 350px;
}
.userimg{
    position:relative;
    height: 6rem;
    width: 5rem;
    top: -300px;
    left: 40%;
}
.user-name{
    position: relative;
    top: -300px;
    left: 40%;
} */
.profile-content{
    padding: 0px 50px;
    justify-content: center;
}
.courses-enrolled{
    margin:40px 20px 40px 20px;
    height: 250px;
    background-color: rgb(26, 45, 78);
    padding: 35px 30px 40px 30px;
    border-radius: 40px;
}
.about-me{
    margin:40px 20px 40px 20px ;
    height: 250px;
    background-color: rgb(26, 45, 78);
    padding: 35px 30px 40px 30px;
    border-radius: 40px;
}
#about-me{
    color: whitesmoke;
    font-weight: 100;
    margin: 5px 0px 10px 0px;
}
.text{
    color: rgb(77, 73, 73);
    margin:20px 0px 30px 0px;
}
h3{
    color: rgb(131, 52, 204);
    font-weight: 300;
    width: auto;
    text-align: center;
    padding: 10px 10px ;
}
.edit_profile{
    border: 3px solid rgb(131, 52, 204);
    width: 200px;
    border-radius: 20px 2em 20px 2em;
}
.certificates{
    margin-bottom: 40px;
    justify-content: center;
    background-color: white;
    color: rgb(32, 30, 30);
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 5px 10px 20px rgb(168, 166, 166) ;
}
.icons{
    width: auto;
    height: 40px;
}