body {
  overflow-x: hidden;
  width: 100%;
}
#nav1 {
  color: white;
  text-decoration: none;
  background-color: #155f6c;
  font-size: 10px;
  margin: 0;
}
#navb {
  padding-right: 50px;
  font-size: 30px;
}
a {
  color: white;
}
#as_logo {
  width: 200px;
  height: auto;
}
#nav2 {
  color: black;
  background-color: white;
}
.nav2 {
  color: black;
}
.nav1 {
  color: white;
}
.nav02 {
  padding-top: 35px;
}
.icon-bar {
  background-color: black;
  color: white;
}
.ham {
  border: 1px solid black;
  width: 46px;
  margin-right: 40px;
}
.ham:hover {
  background-color: rgb(110, 107, 107);
}
#ase {
  width: 100%;
  height: 50%;
  padding: 5% 0%;
}
.courses {
  text-align: center;
}
#Oc {
  font-family: "Jost", sans-serif;
}
h1,
h3 {
  font-family: "Jost", sans-serif;
}
.course:hover {
  transform: translate(7px, 16px);
}

#contact {
  list-style-type: none;
}
#icons {
  width: 15%;
  height: auto;
  float: left;
}
.icons {
  width: auto;
  height: 90px;
  padding-top: 20px;
}
#know {
  color: white;
  background-color: rgb(10, 9, 9);
}
h1 {
  text-align: center;
  /* font-size: 50px; */
}
h3 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.learnings {
  margin-top: 40px;
  border-radius: 5%;
  text-align: justify;
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 30px;
  padding-bottom: 40px;
  box-shadow: 5px 10px 20px rgb(146, 145, 145) inset;
}
.learning {
  border-radius: 5%;
  height: 100px;
  text-align: justify;
  padding-top: 10px;
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 30px;
  box-shadow: 5px 10px 20px rgb(146, 145, 145) inset;
}
.course {
  height: auto;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
  border-radius: 10%;
  box-shadow: 5px 10px 20px rgb(146, 145, 145);
}
.ASC {
  padding: 0 8%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.text {
  font-size: 17px;
  padding-right: 5px;
  padding-right: 8px;
}
.a_logo {
  width: 120px;
  height: auto;
  float: left;
}
.button {
  padding: 10px;
  font-size: 25px;
}
#hiddenCourses {
  display: none;
  /*visibility: hidden;*/
}
footer {
  background-image: url("../img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: white;
}
#foot{
  background-image: url("../img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
}

footer .data {
  color: inherit;
}

footer .data {
  color: #3777ff;
}

.footer-data {
  text-align: left;
}

.contact {
  height: 50px;
  width: 50px;
  display: inline-flex;
  position: relative;
  left: -20px;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-left {
  float: left;
}

.footer-contact button {
  background: red;
  color: white;
  height: 3em;
  width: 10em;
  border-radius: 5em;
  transition: all 0.5s ease;
  border-color: red;
}

.footer-contact button:hover {
  transform: scale(1.01);
}

.footer-twitter-col {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-twitter {
  overflow-x: hidden;
  overflow: hidden;
}

.footer-twitter-col::-webkit-scrollbar {
  display: none;
}

.as-footer {
  float: left;
  text-align: left;
  width: 80%;
}

.terms_condition-footer {
  float: left;
  text-align: right;
  width: 20%;
}

.new {
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  .as-footer {
    text-align: center;
    width: 100%;
  }

  .terms_condition-footer {
    text-align: center;
    width: 100%;
  }
}
