.instant_focus{
    background: var(--dark-blue);
    margin: 0px;
    color: var(--yellow);
    text-align:center;
    justify-content: center;
    font-size: 1.5rem;
    padding:1.5vh;
    margin-left: 0px;
    margin-right: 0px;
}

.intro{
    display: flex;
    flex-direction: row;
    /* margin-left: 6vw; */
    /* margin-right: 6vw; */
    overflow: hidden;
}

.intro__details{
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60%;
    font-family: CooperHewitt-Book;
    padding: 0 2.8vw;
}

.intro__company_title{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

.intro__company_name{
    font-size: 4.5rem;
    /* font-weight: bolder; */
    font-family: Bebas-Neue-Cyrillic;
}

.intro__company_section{
    font-size: 2.5rem;
    font-family: Nickainley-Normal;
    font-weight: bold;
    text-align: right;
    width: 90%;
}

.intro__paragraphs{
    width: 90%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.intro__paragraph_1, .intro__paragraph_2 {
    justify-content: center;
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-family: CooperHewitt-Light;
    margin: 1vh 0;
}

.intro__button{
    margin-left: 30%;
    margin-right: auto;
    padding: 1vh;
}

.intro__show_how{
    background-color: var(--light-blue);
    border-radius: 50vh;
    height:7vh;
    padding: 1vh 2vw;
    font-family:CooperHewitt-Book ;
    font-size:1.6rem;
    box-shadow: 2px 2px 1px black;
    justify-self: center;
    width:fit-content;
    align-content: center;
    font-weight: bolder;
    transition:all;
    transition-duration: 0.5s;
}

.intro__show_how:hover{
    box-shadow: 4px 4px 2px black;
}

.intro__image{
    width: 40%;
    overflow: hidden;
    background: url("../image/Landing\ Page\ 2.png");
    background-size: cover;
    height: fit-content;
}
.middle__image{
    width: inherit;
    overflow: hidden; 
}

.intro__Atharv{
    justify-content: end;
}

.guest{
    height: 10vh;
    display: grid;
    grid-template-columns: 30% auto;
    background-color: var(--gray-light);
    text-align: center;
}

.guest__main{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: CooperHewitt-Bold;
    justify-items: center;
}

.guest__places{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}

.guest__place{
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size:1.6rem;
    padding: 0.5vw;
    font-weight: bold;
}

/* Join us section */
.join{
    padding: 0 6vw;
    display: grid;
    grid-template-columns: auto auto;
}
.join__images{
    width:auto;
    overflow-y: hidden;
}
.join__tagline{
    padding: 20px;
    align-items: right;
    align-content: center;
}
.join__bigText{
    font-size: 3rem;
    z-index: -1;
    font-weight: 700;
    font-family:CooperHewitt-Book;
    color: var(--peach);
    align-content: center;
}
.note{
    background: var(--peach);
    padding: 2vh 4vh;
    font-size: 1.6rem;
    font-family:CooperHewitt-Book ;
    margin-bottom: 5vh;
}
.line{
    height: 2px;
    background: black;
    border-radius: 20%;
    margin:5px 20px 5px 40px;
}
.button2{
    text-align: center;
    padding: 1vh;
}
.headingText2{
    font-size: 2.3rem;
    font-family:CooperHewitt-Book;
}
.hit{
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;
}
.points{
    font-size: 1.8rem;
    line-height: 250%;
    font-family:CooperHewitt-light ;
}
.hitPoints{
    margin: 5vh 26vh;
}
.bigTextCol{
    font-size: 2rem;
    text-align: center;
    margin: 10vh 8vh;
    font-family: CooperHewitt-Book;
}
.buttonTrain{
    font-size: 2rem;
    margin-bottom: 5vh;
}
.note2{
    height: 6vh;
    background: var(--peach);
    padding: 2vh 4vh;
    font-size: 1.6rem;
    font-family:CooperHewitt-Book ;
    margin-bottom: 5vh;
}
.Clist{
    padding: 2vh;
    margin: 3vh 3vh 4vh 3vh;
}
.line{
    display: none;
}
.courseList{
    font-size: 2rem;
    line-height: 170%;
    font-family:CooperHewitt-Light ;
    list-style: none;
}